{
  "parser": "@babel/eslint-parser",
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "strict": "off",
    "no-unused-vars": "off",
    "no-mixed-spaces-and-tabs": "off",
    "no-debugger": "off",
    "no-console": "warn",
    "semi": ["error", "always"],
    "comma-dangle": ["error", "never"],
    "react/prop-types": "error"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
